<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Guess the Number Game</title>
    </head>

    <body>
    <div align="center">
        <h1>Guess the Number Game</h1>
        <h2>Game Over</h2>
        <h3 th:text="${resultMessage}">Result Message Content</h3>

        <h3>
            <a th:href="@{/restart}">Play Again</a>
        </h3>
        <h3>
            <a th:href="@{/}">Home</a>
        </h3>
        <pre th:replace ="~{fragments/asciiArt :: spaceghostArt}">
        </pre>
    </div>
    </body>

</html>